.navbar {
    height: 20px;
    background-color: #366fe2;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;  
}
a{
  color: rgb(0, 229, 255);
  text-decoration: none;
}

.active-link{
  color: rgb(255, 255, 255);
  font-weight: 800;
}
