.navbar {
  height: 20px;
  background-color: #326273;
  color: white;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}

a {
  color: rgb(0, 229, 255);
  text-decoration: none;
}

.active-link {
  color:#5C9EAD;
  font-weight: 800;
}