.App {
  background-color: #eeeeee;
  text-align: center;
  padding-bottom: 10px;
  min-height: 98vh;
  min-width: min-content;
}

.App a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  height: 50px;
  background-color: black;
  display: flex;
}

.productdiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .productdiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .productdiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 560px) {
  .productdiv {
    grid-template-columns: auto;
  }
}

.productdiv text {
  color: black;
}

.ProductCard {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  min-height: 300px;
  padding: 20px 0px 10px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ProductCard img {
  border-radius: 5px;
  width: 90%;
}

.SingleProductCard {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainSingleProudctCard {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  width: 60%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-image {
  margin: auto;
}

.product-image img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Loading  */
.loadingDiv {
  margin: auto;
  text-align: center;
}

.lds-roller {
  margin-top: 250px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.FilterDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.FilterDiv>div>button {
  width: auto;
  padding: 5px 20px;
}

.FilterDiv button,
.paginationDiv button,
.button-css {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.paginationDiv button:hover,
.FilterDiv button:hover,
.button-css :hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.paginationDiv button:focus,
.FilterDiv button:focus,
.button-css:focus {
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.paginationDiv button:active,
.FilterDiv button:active,
.button-css:active {
  background-color: rgba(128, 128, 128, 0.493);
}

.paginationDiv button:disabled,
.button-css:disabled {
  cursor: default;
  color: rgb(204, 204, 204);
  background-color: #fff;
  border: 1px solid #d5d9d9;
}

.paginationDiv {
  margin: 10px 0px 50px 0px;
}

.cartPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  gap: 50px;
}

.cartPage .SingleProductCard {
  padding: 20px;
  border-radius: 10px;
}

.cart-buttons {
  display: flex;
  margin: auto;
  width: 120px;
  gap: 10px;
  --b: 3px;
  /* the border thickness */
  --h: 1.4em;
  /* the height */
}

.cart-buttons button {
  --_c: #FF003C;
  flex: calc(1.25 + var(--_s, 0));
  min-width: 0;
  font-size: 25px;
  font-weight: bold;
  height: var(--h);
  cursor: pointer;
  color: var(--_c);
  border: var(--b) solid var(--_c);
  background:
    conic-gradient(at calc(100% - 1.3*var(--b)) 0, var(--_c) 209deg, #0000 211deg) border-box;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.577*var(--h)) 100%, 0 100%);
  padding: 0 calc(0.288*var(--h)) 0 0;
  margin: 0 calc(-0.288*var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex .4s;
}

.cart-buttons button+button {
  --_c: #88C100;
  flex: calc(.75 + var(--_s, 0));
  background:
    conic-gradient(from -90deg at calc(1.3*var(--b)) 100%, var(--_c) 119deg, #0000 121deg) border-box;
  clip-path: polygon(calc(0.577*var(--h)) 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 0 0 calc(-0.288*var(--h));
  padding: 0 0 0 calc(0.288*var(--h));
}

.cart-buttons button:focus-visible {
  outline-offset: calc(-2*var(--b));
  outline: calc(var(--b)/2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}

.cart-buttons button:focus-visible+button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}

.cart-buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}

.cart-buttons button:hover,
.cart-buttons button:active:not(:focus-visible) {
  --_s: .75;
}

.cart-buttons button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}